<form id="login-form" method="POST" action="/login">
    {{#if error}}
    <p class="error">{{error}}</p>
    {{/if}}
    <label for="username">username:</label>
    <input type="text" name="username" required></br>
    <label for="password">password:</label>
    <input type="password" name="password" required></br>
    <input type="submit" name="submit" value="Login">
    <p>Don't have an account? <a href='/register'>Join today!</a></p>
</form>