<link rel="stylesheet" type="text/css" href="login.css">
<form id="registration-form" method="POST" action="/register">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Register</h1>
            </div>
            <div class="login-form">
                {{#if error}}
                    <p class="error">Error: {{error}}</p>
                {{/if}}
                <div class="control-group">
                    <input id="login-name" type="text" class="login-field" value="" placeholder="Username" name="username" required pattern="^[\w\d]*$">
                    <label class="login-field-icon fui-user" for="login-name"></label></div>
                <div class="control-group">
                    <input id="register-name" type="text" class="login-field" value="" placeholder="First Name" name="firstName">
                    <label class="login-field-icon fui-user" for="register-name"></label></div>
                <div class="control-group">
                    <input id="register-mid" type="text" class="login-field" value="" placeholder="Middle Name" name="middleName">
                    <label class="login-field-icon fui-user" for="register-mid"></label></div>
                <div class="control-group">
                    <input id="register-last" type="text" class="login-field" value="" placeholder="Last Name" name="lastName">
                    <label class="login-field-icon fui-user" for="register-last"></label></div>
                <div class="control-group">
                    <input id="login-pass" type="password" class="login-field" value="" placeholder="Password" name="password" required>
                    <label class="login-field-icon fui-lock" for="login-pass"></label></div>
                <input type="submit" value="Register" class="btn btn-primary btn-large btn-block">
                <p>Have an account? <a id="join" href='/login'>Log in Here!</a></p>
            </div>  
        </div>
    </div>

</form>