<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CS546 Final Project</title>
        <link rel="stylesheet" type="text/css" href="/public/site.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>