<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="site.css">
    </head>
    <body>
        <header id="headerBar">
            <h1><a href="/">Friend Network</a></h1>
            <nav>
                <ul>
                    <li><a href="/profile"><img src="profile.png" height="100%" width="25px" /></a></li>
                    <li><a href="/search">Search people</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>