<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="site.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <h1><a href="/">Friend Network</a></h1>
                <div id="searchBar">
                    <form id="search-form" method="POST" action="/search" >
                        <input type="text" placeholder="Search Users.." name="search" required pattern="^[\w\d\s]*$">
                        <button type="submit" name="submit" value="Search">Submit</button>
                    </form>
                </div>
                <ul id="navUL">
                    <li id="profileLink"> <a href="/friends">Friends</a></li>
                    <li id="profileLink"><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>
