html {
	background-color:#cae8cb;
}

body {
	margin: 0;
}

main {
	margin-left: 5px;
}

nav {
	position: relative;
	background-color: #4CAF50;
	display: inline-block;
	margin: 0 auto;
	padding: 10px 4px;
	height: 50px;
	width:100%;
	height: 100%;
	width: 100%;
}

nav * {
	display: inline-block;
}

nav>*{
	width: 32.5%;
}

nav a {
	font-size: 20px;
}

h1 a{
	font-size: 30px;
}

nav>h1 {
	margin: auto;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
	display: inline-block;
}

#navUL {
	margin: 0 auto;
	text-align: right;
	margin-right: 15px;
	padding:0px;
}

#profileLink {
	/*border-width: 2px;*/
	padding-right:5px;
	border-color: gray;
	border-right: 2px solid black;
}

#searchBar {
	text-align: center;	
}

#searchBar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

#searchBar button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#searchBar button:hover {
  background: #ccc;
}

textarea {
	resize:none;
	overflow: auto;
	width:500px;
	height: 100px;
	border: 4px solid #4CAF50;
	border-radius: 5px;
	background-color: #cae8cb;
}

.resultsList {
	list-style-type: circle;
	display: block;
}

.profileButton {
  background-color: #4CAF50;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.friendButton {
	margin-bottom: 8px;
	padding: 10px 21.36px;
}

.resultButton {
	background-color: #4CAF50;
	border: none;
	color: black;
	padding: 10px 21.36px;
	text-align: center;
  	display: inline-block;
  	font-size: 13px;
  	margin-bottom: 12px;
  	cursor: pointer;
}

.postTextArea {
	width: 800px;
	height: 100px;
}

.commentsContainer{
	width: 75%;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
	padding: 5px;
    border-style: dashed;
	border-color: blue;
	font-family: Arial, Helvetica, sans-serif;
}

.commentBox{
	width: 300px;
	height: 50px;
	text-align: center;
	resize:none;
	overflow: auto;
	border: 2px solid #4CAF50;
	border-radius: 3px;
	background-color: #cae8cb;
}

.idvComment{
	margin: 5px;
}

.subtext{
	color: grey;
	font-size: smaller;
}

.postsContainer {
	width: 100%;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 30px;
}

.postsContainer * {
	margin: 0 auto;
}

.buttonContainer>*{
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
}

.trigger {
	color: blue;
	border: 0;
	background-color: #cae8cb;
	cursor: pointer;
}

.likesList {
	list-style-type: circle;
	display: block;
}