{{#if error}}
	<p class="error">{{error}}</p>
{{/if}}
<h2>{{title}}</h2>
<ul>
{{#each people}}
    <li class="resultsList"> <a href="/profile/{{this.username}}"><h3> {{this.displayname}} <h3></a></li>
{{/each}}
</ul>
