<h2>{{title}}</h2>
<ul>
{{#each people}}
    <li class="resultsList">
    	<form id="login-form" method="GET" action="/profile">
    		<button name="userName" type="submit" value="{{this.username}}">{{this.displayname}}</button>
    	</form>
    </li>
{{/each}}
</ul>
