<form id="search-form" method="POST" action="/search" >
  {{#if error}}
  <p class="error">{{error}}</p>
  {{/if}}
  <input type="text" name="search" required pattern="^[\w\d]*$">
  <input type="submit" name="submit" value="Search">
</form>
